header {
  // background-color: #0a2a36;
  color: white;
  display: flex;
  justify-content: center;
  h3 {
    margin-top: 50px;
  }
}
section {
  margin: 0;
  // background-color: #0a2a36;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px){
    height: 120px;
  }
  h3 {
    color: white;
  }
  input[type="text"],
  button {
    height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    outline: 0;
    margin: 10px;
  }
  input[type="text"] {
    width: 250px;
    background-color: #557787;
    color: white;
    font-weight: bold;
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bold;
    }
    // @media screen and (max-width: 768px) {
    //   display: block;
    // }
  }
  button {
    background-color: #e69d4a;
    color: white;
    font-weight: bold;
    @media screen and (max-width: 539px) {
      padding: 0 15px 0 15px;
      width: 250px;
    }
  }
}
.new-card {
  position: absolute;
  right: 25%;
  flex-direction: column;
  .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    padding: 15px;
    width: 850px;
    @media screen and (max-width: 768px) {
      display: block;
      width: 250px;
    }
    @media screen and (min-width: 992px) {
      display: block;
      width: 650px;
    }
    @media screen and (max-width: 992px) and (min-width: 768px) {
      display: block;
      width: 450px;
    }
  }
  p {
    font-size: larger;
    font-weight: bold;
  }
  .update {
    background-color: #1b591b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #1b591b;
    margin: 0 5px 0 5px;
    @media screen and (max-width: 768px) {
      color: white;
      font-weight: bold;
    }
  }
  .delete {
    background-color: #bd4040;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #bd4040;
    @media screen and (max-width: 768px) {
      color: white;
      font-weight: bold;
    }
  }
}
body{
  background-image: url("./harel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}